# Specific to this library
.composer.lock

# Environment-specific files.
/example/app/config/db.conf.php
/example/app/config/apis.conf.php
/example/app/config/influx.conf.php
/example/app/config/cache.conf.php

# Local development files.
app/modules/frontend/controllers/UtilController.php

# Junk/cache files.
*Thumbs.db
tmp/cache/*---*
*.DS_Store
*.apdisk
.vagrant
.idea
ubuntu-*-console.log
/html

# Local development files.
/example/app/.env

# Composer-generated content
/vendor/

# Ansible deployment files
/example/ansible/
/example/util/ansible/deploy.retry
/example/util/ansible/update.retry